* {
  box-sizing: border-box;
}

#header {
  font-size: 8rem;
  padding-left: 60px 40px;
  margin: 10px;
}

#slogan {
  padding: 20px 60px;
  font-size: 2.25rem;
}

.logo {
  font-family: 'Karla', sans-serif;
  font-weight: 400;
}

.subheader-container {
  display: flex;
  justify-content: flex-start;
}

.subheader {
  font-size: 2rem;
  padding-left: 220px;
  padding-top: 80px;
}

#by-breed-section {
  padding-left: 115px;
  padding-top: 80px;
}

.doggo-container {
  padding-left: 220px;
  display: flex;
  flex-wrap: wrap;
}

.button {
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  border-radius: 8px;
  padding: 14px 24px 16px;
  font-family: 'Karla', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
  transition: transform 200ms, background 200ms;
  background: transparent;
  color: #000000;
  box-shadow: 0 0 0 3px #000000 inset;
}

.button:hover {
  transform: translateY(-2px);
}

.button-container {
  display: flex;
  padding: 15px 60px;
}
.add-doggo-button {
  font-family: Arial, Helvetica, sans-serif;
  margin-right: 15px;
}

.loading-wrapper {
  margin-top: 10px;
  margin-right: 10px;
  display: flex;
  justify-content: flex-start;
  height: 400px;
  /*can you specify width by aspect ratio?*/
}

.loading-wrapper img {
  object-fit: cover;
  width: 100%;
}

.loading {
  margin: 50px;
  display: flex;
  justify-content: center;
}

.loading::after {
  content: '';
  border: 10px solid #f3f3f3; /* light grey */
  border-top: 10px solid #0899ce; /* green */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: loading 1s linear infinite;
}

@keyframes loading {
  to {
    transform: rotate(1turn);
  }
}
